html {
    background: blue;
    border: 10px solid #64DD17;

}

img {
    height: auto;
    width: auto;
    max-height: 500px;
    max-width: 400px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    border: 10px solid rebeccapurple;
    background: beige;
    color: red;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

div {
    border: 5px solid aqua;
    padding: 30px;
    margin-right: 275px;
    margin-top: 25px;
    margin-left: 275px;
    margin-bottom: 75px;
    background: white;
}

h1 {
    color: red;
    font-weight: bold;
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

i {
    font-style: italic;
    background: gainsboro;
    font-size: 1.5rem;
}

p, li {
    text-indent: 15px;
    color: black;
    font-style: unset;
    font-size: 1.5rem;
}